

.projects{
display:flex;
flex-direction:column;
}

.upper-side{
height: 60vh;
text-align:center;
padding-top:20px;
background-color:red;
}

.project-pic{
width:80%;
height:550px;
}

.name{
font-weight:bold;
font-size:40px;
}

.user{
font-size:15px;
}

.username{
font-weight:bold;
color:green;
font-size:20px;
}

.country, .rating{
font-weight:bold;
font-size:20px;
}



